body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #c7d2ff, #ecebff);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
}

.container {
    background: #ffffffc9;
    padding: 40px;
    width: 420px;
    text-align: center;
    border-radius: 30px;      
    backdrop-filter: blur(10px);
    box-shadow: 0 0 35px rgba(0,0,0,0.25);
}

#clock {
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: bold;
    background: #6b5bff;
    color: white;
    padding: 18px 0;
    border-radius: 25px;
    box-shadow: inset 0 0 25px rgba(0,0,0,0.25);
}

#date {
    margin-top: 18px;
    font-size: 20px;
    font-weight: 600;
    color: #4b3dff;
}
