body{
    font-family: Arial, sans-serif;
    background: #ddf3cf;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    text-align: center;
    background: #2c2c2c;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(210, 238, 215, 0.2);
}

#generateBtn{
    margin-top: 20px;
    background: #ff9800;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#generateBtn:hover{
    background:#e68900;
}
