body{
    background:#cde0ee;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    font-family:Arial, sans-serif;
}

.ipod{
    width:260px;
    background:white;
    border-radius:20px;
    padding:15px;
    box-shadow:0 0 25px rgba(255,255,255,0.2);
}

.screen{
    width:100%;
    height:160px;
    background:black;
    border-radius:10px;
    overflow:hidden;
}

.screen img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.wheel{
    width:200px;
    height:200px;
    background:#f0efef;
    margin:20px auto 0;
    border-radius:50%;
    position:relative;
}

.button{
    position:absolute;
    font-size:14px;
    cursor:pointer;
    color:#444;
}

/* MENU top */
.menu{
    top:20px;
    left:50%;
    transform:translateX(-50%);
}

/* forward right */
.forward{
    top:50%;
    right:25px;
    transform:translateY(-50%);
}

/* backward left */
.backward{
    top:50%;
    left:25px;
    transform:translateY(-50%);
}

/* play bottom */
.play{
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
}

/* Center round button */
.center-btn{
    width:80px;
    height:80px;
    background:#ddd;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    cursor:pointer;
}
